# 네이버 금융-> 투자정보 베너 크롤링

1) 시가총액  
2) 시가총액순위  
3) 상장주식수  
4) 액면가   
5) 매매단위  
6) 외국인한도주식수(A)  
7) 외국인보유주식수(B)   
8) 외국인소진율(B/A)     -> 최근 외국인 지분율  
9) 투자의견  
10) 목표주가  
11) 52주최고  
12) 52주최저  
13) PER{2020.09}  
14) EPS{2020.09}  
15) 추정PER  
16) 추정EPS  
17) PBR{2020.09}  
18) BPS{2020.09}  
19) 배당수익률  
20) 동일업종PER  
21) 동일업종등락률

In [1]:
import sys
import os
import pandas as pd
import numpy as np

from selenium import webdriver
import time

# tqdm : for문 돌릴 때 진행상황
from tqdm import tqdm_notebook

# warning 메시지 무시하는 코드
import warnings ; warnings.filterwarnings(action='ignore')

In [2]:
# KOSPI 800.csv 에 추가로 붙이기
kospi_800 = pd.read_csv('KOSPI_800.csv')
kospi_800

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소
0,1,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)"
1,2,6840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -
2,3,27410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",원(KRW),1577-3663,서울특별시 강남구 테헤란로 405
3,4,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),02-1577-8007,서울특별시 강남구 테헤란로 405 BGF사옥
4,5,138930,BNK금융지주,116409,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW),051-620-3023,부산광역시 남구 문현금융로 30(문현동)
...,...,...,...,...,...,...,...,...,...,...,...
795,796,79980,휴비스,32005,화학섬유 제조업,"34,500,000","172,500,000,000","5,000",원(KRW),02-2189-4567,서울특별시 강남구 학동로 343
796,797,5010,휴스틸,32401,1차 철강 제조업,"7,621,668","38,108,340,000","5,000",원(KRW),02-828-9000,"서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층)"
797,798,69260,휴켐스,32004,기타 화학제품 제조업,"40,878,588","40,878,588,000","1,000",원(KRW),02-2262-0600,서울특별시 중구 퇴계로 173 19층
798,799,540,흥국화재,116501,보험업,"64,242,645","325,821,225,000","5,000",원(KRW),02-2002-6000,서울특별시 종로구 새문안로 68
799,800,3280,흥아해운,85001,해상 운송업,"116,732,559","58,366,279,500",500,원(KRW),02-3449-3000,"서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림빌..."

In [21]:
# 종목코드 6자리로 만들기
kospi_800 = kospi_800.astype({'종목코드': 'str'})

for i in range(800):
    fakecode = kospi_800['종목코드'][i]
    
    if len(fakecode)==2:
        rightcode = "0000"+ fakecode
        kospi_800['종목코드'][i] = rightcode
    
    if len(fakecode)==3:
        rightcode = "000"+ fakecode
        kospi_800['종목코드'][i] = rightcode
    if len(fakecode)==4:
        rightcode = "00"+ fakecode
        kospi_800['종목코드'][i] = rightcode    
    if len(fakecode)==5:
        rightcode = "0"+ fakecode
        kospi_800['종목코드'][i] = rightcode
        
kospi_800.head(50)

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소
0,1,095570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)"
1,2,006840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -
2,3,027410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",원(KRW),1577-3663,서울특별시 강남구 테헤란로 405
3,4,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),02-1577-8007,서울특별시 강남구 테헤란로 405 BGF사옥
4,5,138930,BNK금융지주,116409,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW),051-620-3023,부산광역시 남구 문현금융로 30(문현동)
5,6,001460,BYC,31401,봉제의복 제조업,"624,615","4,200,000,000","5,000",원(KRW),02-840-3172,서울특별시 영등포구 도림천로21길 3
6,7,001040,CJ,116409,기타 금융업,"29,176,998","179,047,370,000","5,000",원(KRW),02-726-8114,"서울특별시 중구 소월로2길 12 (남대문로5가, CJ THE CENTER)"
7,8,079160,CJ CGV,105901,"영화, 비디오물, 방송프로그램 제작 및 배급업","35,100,000","17,550,000,000",500,원(KRW),02-371-6660,서울특별시 용산구 한강대로23길 55 아이파크몰 6층(한강로동)
8,9,000120,CJ대한통운,84903,도로 화물 운송업,"22,812,344","114,061,720,000","5,000",원(KRW),02-3782-0114,서울특별시 중구 세종대로9길 53
9,10,011150,CJ씨푸드,31007,기타 식품 제조업,"35,930,773","18,065,386,500",500,원(KRW),031-730-9114,경기도 성남시 중원구 둔촌대로388번길 32 (상대원동)
10,11,097950,CJ제일제당,31007,기타 식품 제조업,"15,054,186","81,908,095,000","5,000",원(KRW),726-8114,서울특별시 중구 동호로 330
11,12,000590,CS홀딩스,116409,기타 금융업,"1,154,482","5,772,410,000","5,000",원(KRW),02-3459-9363,경상북도 포항시 남구 괴동로 43 (장흥동)
12,13,012030,DB,106201,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","201,173,933","100,586,966,500",500,원(KRW),02-2136-6000,서울특별시 강남구 삼성로96길 23 7층
13,14,016610,DB금융투자,116601,금융 지원 서비스업,"42,446,389","212,231,945,000","5,000",원(KRW),02-369-3000,서울특별시 영등포구 국제금융로8길 32 동부증권빌딩
14,15,005830,DB손해보험,116501,보험업,"70,800,000","35,400,000,000",500,원(KRW),02-1588-0100,서울특별시 강남구 테헤란로 432
15,16,000990,DB하이텍,32601,반도체 제조업,"44,398,588","222,554,520,000","5,000",원(KRW),02-3484-2888,경기도 부천시 수도로 90 (주)DB하이텍
16,17,139130,DGB금융지주,116409,기타 금융업,"169,145,833","845,729,165,000","5,000",원(KRW),537407900,대구광역시 북구 옥산로 111 대구은행 제2본점 9층
17,18,004840,DRB동일,116409,기타 금융업,"19,930,000","9,965,000,000",500,원(KRW),051-520-9000,부산광역시 금정구 공단동로55번길 28
18,19,155660,DSR,32402,1차 비철금속 제조업,"16,000,000","8,000,000,000",500,원(KRW),02-3420-3591,부산광역시 강서구 녹산산업중로192번길 7
19,20,069730,DSR제강,32401,1차 철강 제조업,"14,400,000","7,200,000,000",500,원(KRW),061-752-0121,전라남도 순천시 서면 산단1길 15
20,21,017940,E1,74607,기타 전문 도매업,"6,860,000","34,300,000,000","5,000",원(KRW),02-3441-4114,서울특별시 용산구 한강대로 92 LS용산타워
21,22,365550,ESR켄달스퀘어리츠,126801,부동산 임대 및 공급업,"143,259,000","143,259,000,000","1,000",원(KRW),02-6205-0468,"서울특별시 영등포구 국제금융로 10 (여의도동, 서울국제금융센터) 35층"
22,23,007700,F&F,31401,봉제의복 제조업,"15,400,000","7,700,000,000",500,원(KRW),02-520-0001,"서울특별시 강남구 언주로 541(역삼동,외 에프앤에프빌딩)"
23,24,114090,GKL,189102,유원지 및 기타 오락관련 서비스업,"61,855,670","30,927,835,000",500,원(KRW),02-6421-6000,서울특별시 강남구 삼성로 610 삼성동
24,25,078930,GS,116409,기타 금융업,"92,915,378","473,501,020,000","5,000",원(KRW),-,서울특별시 강남구 논현로 508
25,26,006360,GS건설,64101,건물 건설업,"80,370,313","401,851,565,000","5,000",원(KRW),02-2154-1112,서울특별시 종로구 종로 33 그랑서울
26,27,001250,GS글로벌,74608,상품 종합 도매업,"82,533,764","206,334,410,000","2,500",원(KRW),02-2005-5300,서울특별시 강남구 논현로 508 GS강남타워
27,28,007070,GS리테일,74701,종합 소매업,"77,000,000","77,000,000,000","1,000",원(KRW),02-2005-1114,서울특별시 강남구 논현로 508GS타워(역삼동 679)
28,29,012630,HDC,116409,기타 금융업,"59,741,721","298,708,605,000","5,000",원(KRW),02-2008-9114,서울특별시 강남구 영동대로 520 아이파크타워
29,30,039570,HDC아이콘트롤스,64203,전기 및 통신 공사업,"16,460,000","8,230,000,000",500,원(KRW),031-785-1711,경기도 성남시 분당구 정자일로213번길 5
30,31,089470,HDC현대EP,32004,기타 화학제품 제조업,"31,900,000","17,200,000,000",500,원(KRW),041-350-0500,충청남도 당진시 석문면 대호만로 1221-32 현대EP 주식회사
31,32,294870,HDC현대산업개발,64101,건물 건설업,"65,907,330","329,536,650,000","5,000",원(KRW),02-2008-9114,서울특별시 용산구 한강대로23길 55 현대아이파크몰 9층
32,33,011200,HMM,85001,해상 운송업,"326,726,323","1,633,631,615,000","5,000",원(KRW),02-3706-5114,서울특별시 종로구 율곡로 194
33,34,082740,HSD엔진,32901,일반 목적용 기계 제조업,"32,947,142","32,947,142,000","1,000",원(KRW),055-260-6000,경상남도 창원시 성산구 공단로 67 (신촌동)
34,35,175330,JB금융지주,116409,기타 금융업,"196,982,894","984,914,470,000","5,000",원(KRW),02-2128-2727,전라북도 전주시 덕진구 백제대로 566
35,36,234080,JW생명과학,32102,의약품 제조업,"15,834,554","39,586,385,000","2,500",원(KRW),041-351-7600,충청남도 당진시 송악읍 한진1길 28
36,37,001060,JW중외제약,32102,의약품 제조업,"20,920,054","52,956,972,500","2,500",원(KRW),02-840-6777,서울특별시 서초구 남부순환로 2477
37,38,096760,JW홀딩스,116409,기타 금융업,"66,452,155","33,226,077,500",500,원(KRW),02-840-6777,서울특별시 서초구 남부순환로 2477
38,39,105560,KB금융,116409,기타 금융업,"415,807,920","2,090,557,685,000","5,000",원(KRW),02-2073-7114,"서울특별시 영등포구 국제금융로8길 26 (여의도동, 국민은행 여의도본점)"
39,40,009440,KC그린홀딩스,116409,기타 금융업,"22,434,980","11,217,490,000",500,원(KRW),02-320-6311,서울특별시 마포구 상암산로 34디지털큐브 12층
40,41,119650,KC코트렐,32901,일반 목적용 기계 제조업,"13,000,000","6,500,000,000",500,원(KRW),02-3206-311,서울특별시 마포구 상암산로 34디지털큐브 12층
41,42,092220,KEC,32601,반도체 제조업,"116,706,940","58,353,470,000",500,원(KRW),02-2025-5000,서울특별시 서초구 마방로10길 5
42,43,016380,KG동부제철,32401,1차 철강 제조업,"100,008,897","500,311,410,000","5,000",원(KRW),02-3450-8027,서울특별시 중구 한강대로 416 서울스퀘어 7층
43,44,001390,KG케미칼,32001,기초 화학물질 제조업,"13,013,232","67,374,405,000","5,000",원(KRW),052-231-1842,울산광역시 울주군 온산읍 당월로 322
44,45,001940,KISCO홀딩스,32401,1차 철강 제조업,"18,476,380","18,476,380,000","1,000",원(KRW),055-260-0500,경상남도 창원시 성산구 공단로103번길 12 한국철강(주)
45,46,025000,KPX케미칼,32001,기초 화학물질 제조업,"4,840,000","24,200,000,000","5,000",원(KRW),02-2014-4000,서울특별시 마포구 마포대로 137 KPX빌딩
46,47,092230,KPX홀딩스,32001,기초 화학물질 제조업,"4,224,646","21,123,230,000","5,000",원(KRW),02-2014-4150,서울특별시 마포구 마포대로 137 KPX빌딩 19층
47,48,000040,KR모터스,33109,그외 기타 운송장비 제조업,"91,661,018","45,830,509,000",500,원(KRW),055-282-7011,경상남도 창원시 성산구 완암로 28
48,49,044450,KSS해운,85001,해상 운송업,"23,185,880","11,592,940,000",500,원(KRW),3702-2700,서울특별시 종로구 인사동길 12 대일빌딩 8층
49,50,030210,KTB투자증권,116601,금융 지원 서비스업,"60,314,092","301,570,460,000","5,000",원(KRW),02-2184-2000,서울특별시 영등포구 여의나루로 60 여의도포스트타워

## [네이버 금융] 접속

In [14]:
# 한번에 편하게 추가하기 위해 리스트 생성
시가총액_리스트 = []
상장주식수_리스트 = []
액면가_리스트 = []
매매단위_리스트 = []
외국인한도주식수_리스트 = []
외국인보유주식수_리스트 = []
외국인소진율_리스트 = []
투자의견_리스트 = []
목표주가_리스트 = []
최고52주_리스트 = []
최저52주_리스트 = []
PER_202009_리스트 = []
EPS_202009_리스트 = []
추정PER_리스트 = []
추정EPS_리스트 = []
PBR_202009_리스트 = []
BPS_202009_리스트 = []
배당수익률_리스트 = []
동일업종PER_리스트 = []
동일업종등락률_리스트 = []

ERROR_list = []

In [41]:
for i in tqdm_notebook(range(648,800)):
    company = kospi_800['종목코드'][i]          # 종목코드
    
    #Step 1. 크롬 웹브라우저 실행
    path = "chromedriver.exe"  # 맥 기준  # 윈도우는 "chromedriver.exe"
    driver = webdriver.Chrome(path)
    
    # 사이트 주소는 네이버 금융
    driver.get('https://finance.naver.com/')
    time.sleep(2)
    
    #Step 2. 네이버 금융 검색창에 "회사 종목코드" 검색
    element = driver.find_element_by_id("stock_items")
    element.send_keys(company)
    element.submit()
    time.sleep(1)

    # 1) 시가총액 - " ___억원"
    시가총액 = driver.find_element_by_xpath("""//*[@id="_market_sum"]""").text
    시가총액_리스트.append(시가총액)

    # 3) 상장주식수
    try :
        상장주식수 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[1]/table/tbody/tr[3]/td/em""").text.replace(',', ''))
    except : 
        상장주식수 = 'NA'
        ERROR_list.append(company)
    상장주식수_리스트.append(상장주식수)

    # 4) 액면가 - "__원"
    try :
        액면가 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[1]/table/tbody/tr[4]/td/em[1]""").text.replace(',', ''))
    except : 액면가 = 'NA' 
    액면가_리스트.append(액면가)

    # 5) 매매단위 - "__주"
    try :
        매매단위 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[1]/table/tbody/tr[4]/td/em[2]""").text)
    except : 매매단위 ='NA'
    매매단위_리스트.append(매매단위)

    # 6) 외국인한도주식수(A)
    try :
        외국인한도주식수 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr[1]/td/em""").text.replace(',', ''))
    except : 외국인한도주식수 ='NA'
    외국인한도주식수_리스트.append(외국인한도주식수)

    # 7) 외국인보유주식수(B)
    try : 
        외국인보유주식수 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr[2]/td/em""").text.replace(',', ''))
    except : 외국인보유주식수 ='NA'
    외국인보유주식수_리스트.append(외국인보유주식수)

    # 8) 외국인소진율(B/A) -> 최근 외국인 지분율 - "__.__%"
    try :
        외국인소진율 = float(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr[3]/td/em""").text.replace('%', ''))
    except : 외국인소진율 ='NA'
    외국인소진율_리스트.append(외국인소진율)

    # 9) 투자의견 - "_.__ 매수"
    try :
        투자의견 = float(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[3]/table/tbody/tr[1]/td/span[1]/em""").text)
    except : 투자의견 = 'NA' 
    투자의견_리스트.append(투자의견)

    # 10) 목표주가 - "_____원"
    try :
        목표주가 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[3]/table/tbody/tr[1]/td/em""").text.replace(',', ''))
    except : 목표주가 = 'NA' 
    목표주가_리스트.append(목표주가)

    # 11) 최고52주 - "_____원"
    try : 
        최고52주 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[3]/table/tbody/tr[2]/td/em[1]""").text.replace(',', ''))
    except : 최고52주 = 'NA'
    최고52주_리스트.append(최고52주)

    # 12) 최저52주 - "_____원"
    try : 
        최저52주 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[3]/table/tbody/tr[2]/td/em[2]""").text.replace(',', ''))
    except : 최저52주 = 'NA'
    최저52주_리스트.append(최저52주)

    # 13) PER{2020.09} - "__.__배"
    try :
        PER_202009 = float(driver.find_element_by_xpath("""//*[@id="_per"]""").text)
    except : PER_202009 = 'NA'
    PER_202009_리스트.append(PER_202009)

    # 14) EPS{2020.09} - "_____원"
    try :
        EPS_202009 = int(driver.find_element_by_xpath("""//*[@id="_eps"]""").text.replace(',', ''))
    except : EPS_202009 = 'NA'
    EPS_202009_리스트.append(EPS_202009)

    # 15) 추정PER - "__.__배"
    try :
        추정PER = float(driver.find_element_by_xpath("""//*[@id="_cns_per"]""").text)
    except : 추정PER = 'NA'
    추정PER_리스트.append(추정PER)

    # 16) 추정EPS - "_____원"
    try : 
        추정EPS = int(driver.find_element_by_xpath("""//*[@id="_cns_eps"]""").text.replace(',', ''))
    except : 추정EPS = 'NA'
    추정EPS_리스트.append(추정EPS)

    # 17) PBR{2020.09} - "__.__배"
    try :
        PBR_202009 = float(driver.find_element_by_xpath("""//*[@id="_pbr"]""").text)
    except : PBR_202009 = 'NA'
    PBR_202009_리스트.append(PBR_202009)

    # 18) BPS{2020.09} - "_____원"
    try :
        BPS_202009 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[4]/table/tbody[2]/tr[2]/td/em[2]""").text.replace(',', ''))
    except : BPS_202009 = 'NA'
    BPS_202009_리스트.append(BPS_202009)

    # 19) 배당수익률
    try :
        배당수익률 = float(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[4]/table/tbody[2]/tr[3]/td/em""").text)
    except: 배당수익률 = 'NA'
    배당수익률_리스트.append(배당수익률)

    # 20) 동일업종PER - "__.__배"
    try :
        동일업종PER = float(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[5]/table/tbody/tr[1]/td/em""").text)
    except: 동일업종PER = 'NA'
    동일업종PER_리스트.append(동일업종PER)

    # 21) 동일업종등락률 - "__.__%"
    try : 
        동일업종등락률 = float(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[5]/table/tbody/tr[2]/td/em""").text.replace('%', ''))
    except: 동일업종등락률 = 'NA'
    동일업종등락률_리스트.append(동일업종등락률)
    
    driver.close()

HBox(children=(FloatProgress(value=0.0, max=152.0), HTML(value='')))

In [44]:
invest_data = pd.DataFrame(columns= ['시가총액', '상장주식수', '액면가', '매매단위','외국인한도주식수','외국인보유주식수',
                                    '외국인소진율', '투자의견','목표주가','최고52주','최저52주','PER_202009','EPS_202009',
                                    '추정PER','추정EPS','PBR_202009','BPS_202009','배당수익률','동일업종PER','동일업종등락률'])

invest_data['시가총액']= 시가총액_리스트
invest_data['상장주식수']= 상장주식수_리스트
invest_data['액면가']= 액면가_리스트
invest_data['매매단위']=매매단위_리스트
invest_data['외국인한도주식수']=외국인한도주식수_리스트
invest_data['외국인보유주식수']=외국인보유주식수_리스트
invest_data['외국인소진율']=외국인소진율_리스트
invest_data['투자의견']=투자의견_리스트
invest_data['목표주가']=목표주가_리스트
invest_data['최고52주']=최고52주_리스트
invest_data['PER_202009']=PER_202009_리스트
invest_data['EPS_202009']=EPS_202009_리스트
invest_data['추정PER']=추정PER_리스트
invest_data['추정EPS']=추정EPS_리스트
invest_data['PBR_202009']=PBR_202009_리스트
invest_data['BPS_202009']=BPS_202009_리스트
invest_data['배당수익률']=배당수익률_리스트
invest_data['동일업종PER']=동일업종PER_리스트
invest_data['동일업종등락률']=동일업종등락률_리스트

invest_data

,시가총액,상장주식수,액면가,매매단위,외국인한도주식수,외국인보유주식수,외국인소진율,투자의견,목표주가,최고52주,최저52주,PER_202009,EPS_202009,추정PER,추정EPS,PBR_202009,BPS_202009,배당수익률,동일업종PER,동일업종등락률
0,"2,091",46822295,1000,1,46822295,4980434,10.64,NA,NA,5270,NaN,NA,-1230,NA,NA,0.69,6446,NA,51.92,1.31
1,"3,398",13247561,5000,1,13247561,1013755,7.65,NA,NA,34500,NaN,NA,-11544,NA,NA,0.49,52837,NA,63.27,3.47
2,"4,695",95716791,1000,1,95716791,7666167,8.01,4,6000,5520,NaN,18.44,266,NA,NA,0.31,15772,NA,-27.68,2
3,"2조 5,062",17283906,1000,1,17283906,5408587,31.29,3.77,172455,175500,NaN,19.15,7570,19.15,7570,3.73,38910,NA,-27.68,2
4,"1조 9,067",325935246,5000,1,325935246,124968881,38.34,3.8,7207,7290,NaN,3.97,1474,3.75,1562,0.22,26773,NA,4.89,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,"2,732",34500000,5000,1,34500000,1214235,3.52,4,11000,9850,NaN,10.25,773,NA,NA,0.62,12821,NA,30.14,2.17
796,590,7621668,5000,1,7621668,228865,3,NA,NA,9830,NaN,NA,-2448,NA,NA,0.15,51984,NA,41.1,2.67
797,1조 77,40878588,1000,1,40878588,3501873,8.57,3.75,30500,27650,NaN,20.91,1179,13.79,1788,1.42,17352,NA,63.27,3.47
798,"2,101",64242645,5000,1,64242645,1233684,1.92,NA,NA,4290,NaN,14.16,231,NA,NA,0.28,11810,NA,7.1,0.65
799,301,116732559,500,1,116732559,26880524,23.03,NA,NA,523,NaN,NA,-239,NA,NA,2.8,92,NA,111.6,5.52

In [48]:
invest_data.to_csv("invest_information_800.csv", encoding= 'utf-8-sig', index=False)

In [45]:
ERROR_list

['365550',
 '338100',
 '330590',
 '088980',
 '094800',
 '204210',
 '357250',
 '155900',
 '096300',
 '293940',
 '140910',
 '088260',
 '350520',
 '334890',
 '348950',
 '145270',
 '357120',
 '172580',
 '153360',
 '152550',
 '168490']

In [46]:
# 제대로 획득이 안 된 종목코드 개수
len(ERROR_list)

21

In [54]:
# 가져 올 수 있는게,,,, 시가총액, 상장주식수, 최고52주, 최저52주

for i in tqdm_notebook(ERROR_list):
    company = i       # 종목코드
    
    #Step 1. 크롬 웹브라우저 실행
    path = "chromedriver.exe"  # 맥 기준  # 윈도우는 "chromedriver.exe"
    driver = webdriver.Chrome(path)
    
    # 사이트 주소는 네이버 금융
    driver.get('https://finance.naver.com/')
    time.sleep(2)
    
    #Step 2. 네이버 금융 검색창에 "회사 종목코드" 검색
    element = driver.find_element_by_id("stock_items")
    element.send_keys(company)
    element.submit()
    time.sleep(1)

    # 1) 시가총액 - " ___억원"
    시가총액_에러 = driver.find_element_by_xpath("""//*[@id="_market_sum"]""").text
    invest_data[invest_data['종목코드']== i]['시가총액'] = 시가총액_에러 
    
    # 3) 상장주식수
    상장주식수_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[1]/table/tbody/tr[2]/td/em""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['상장주식수'] = 상장주식수_에러 
    
    # 11) 최고52주 - "_____원"
    최고52주_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr/td/em[1]""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['최고52주'] = 최고52주_에러
    
    # 12) 최저52주 - "_____원"
    최저52주_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr/td/em[2]""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['최저52주'] = 최저52주_에러

    
    driver.close()

HBox(children=(FloatProgress(value=0.0, max=22.0), HTML(value='')))

In [49]:
int('365550')

365550

In [50]:
invest_data['종목코드'] = kospi_800['종목코드']
invest_data

,시가총액,상장주식수,액면가,매매단위,외국인한도주식수,외국인보유주식수,외국인소진율,투자의견,목표주가,최고52주,...,PER_202009,EPS_202009,추정PER,추정EPS,PBR_202009,BPS_202009,배당수익률,동일업종PER,동일업종등락률,종목코드
0,"2,091",46822295,1000,1,46822295,4980434,10.64,NA,NA,5270,...,NA,-1230,NA,NA,0.69,6446,NA,51.92,1.31,095570
1,"3,398",13247561,5000,1,13247561,1013755,7.65,NA,NA,34500,...,NA,-11544,NA,NA,0.49,52837,NA,63.27,3.47,006840
2,"4,695",95716791,1000,1,95716791,7666167,8.01,4,6000,5520,...,18.44,266,NA,NA,0.31,15772,NA,-27.68,2,027410
3,"2조 5,062",17283906,1000,1,17283906,5408587,31.29,3.77,172455,175500,...,19.15,7570,19.15,7570,3.73,38910,NA,-27.68,2,282330
4,"1조 9,067",325935246,5000,1,325935246,124968881,38.34,3.8,7207,7290,...,3.97,1474,3.75,1562,0.22,26773,NA,4.89,0.72,138930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,"2,732",34500000,5000,1,34500000,1214235,3.52,4,11000,9850,...,10.25,773,NA,NA,0.62,12821,NA,30.14,2.17,079980
796,590,7621668,5000,1,7621668,228865,3,NA,NA,9830,...,NA,-2448,NA,NA,0.15,51984,NA,41.1,2.67,005010
797,1조 77,40878588,1000,1,40878588,3501873,8.57,3.75,30500,27650,...,20.91,1179,13.79,1788,1.42,17352,NA,63.27,3.47,069260
798,"2,101",64242645,5000,1,64242645,1233684,1.92,NA,NA,4290,...,14.16,231,NA,NA,0.28,11810,NA,7.1,0.65,000540
799,301,116732559,500,1,116732559,26880524,23.03,NA,NA,523,...,NA,-239,NA,NA,2.8,92,NA,111.6,5.52,003280

In [53]:
invest_data[invest_data['종목코드']== '095570']['시가총액'] =

0    2,091
Name: 시가총액, dtype: object

In [66]:
invest_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시가총액        800 non-null    object
 1   상장주식수       800 non-null    object
 2   액면가         800 non-null    object
 3   매매단위        800 non-null    object
 4   외국인한도주식수    800 non-null    int64
 5   외국인보유주식수    800 non-null    object
 6   외국인소진율      800 non-null    object
 7   투자의견        800 non-null    object
 8   목표주가        800 non-null    object
 9   최고52주       800 non-null    object
 10  최저52주       0 non-null      object
 11  PER_202009  800 non-null    object
 12  EPS_202009  800 non-null    object
 13  추정PER       800 non-null    object
 14  추정EPS       800 non-null    object
 15  PBR_202009  800 non-null    object
 16  BPS_202009  800 non-null    object
 17  배당수익률       800 non-null    object
 18  동일업종PER     800 non-null    object
 19  동일업종등락률     800 non-null    object
 20  종목코드        800 non-null    object
dtypes: int64(1), object(20)
memory usage: 131.4+ KB

In [65]:
invest_data[invest_data['종목코드']== '365550']

,시가총액,상장주식수,액면가,매매단위,외국인한도주식수,외국인보유주식수,외국인소진율,투자의견,목표주가,최고52주,...,PER_202009,EPS_202009,추정PER,추정EPS,PBR_202009,BPS_202009,배당수익률,동일업종PER,동일업종등락률,종목코드
21,"7,607",NA,NA,NA,5320,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,365550

In [68]:
for i in ERROR_list:
    
    print(i, invest_data[invest_data['종목코드']== i].index)
    #Step 1. 크롬 웹브라우저 실행
    path = "chromedriver.exe"  # 맥 기준  # 윈도우는 "chromedriver.exe"
    driver = webdriver.Chrome(path)

    # 사이트 주소는 네이버 금융
    driver.get('https://finance.naver.com/')
    time.sleep(2)

    #Step 2. 네이버 금융 검색창에 "회사 종목코드" 검색
    element = driver.find_element_by_id("stock_items")
    element.send_keys(i)
    element.submit()
    time.sleep(1)

    # 1) 시가총액 - " ___억원"
    시가총액_에러 = driver.find_element_by_xpath("""//*[@id="_market_sum"]""").text
    invest_data[invest_data['종목코드']== i]['시가총액'] = 시가총액_에러 
    print(시가총액_에러)

    # 3) 상장주식수
    상장주식수_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[1]/table/tbody/tr[2]/td/em""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['상장주식수'] = 상장주식수_에러
    print(상장주식수_에러)

    # 11) 최고52주 - "_____원"
    최고52주_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr/td/em[1]""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['최고52주'] = 최고52주_에러
    print(최고52주_에러)

    # 12) 최저52주 - "_____원"
    최저52주_에러 = int(driver.find_element_by_xpath("""//*[@id="tab_con1"]/div[2]/table/tbody/tr/td/em[2]""").text.replace(',', ''))
    invest_data[invest_data['종목코드']== i]['최저52주'] = 최저52주_에러
    print(최저52주_에러)
    print('\n')

365550 Int64Index([21], dtype='int64')
7,607
143259000
5320
4800


338100 Int64Index([70], dtype='int64')
781
18660000
5980
4100


330590 Int64Index([257], dtype='int64')
8,822
171968884
5930
4435


088980 Int64Index([271], dtype='int64')
3조 9,266
372192485
11950
9260


094800 Int64Index([272], dtype='int64')
3,583
92834331
4890
3150


204210 Int64Index([281], dtype='int64')
236
7826815
3620
2125


357250 Int64Index([290], dtype='int64')
945
20100000
5050
4300


155900 Int64Index([297], dtype='int64')
344
15200004
2925
2250


096300 Int64Index([302], dtype='int64')
326
137680211
360
231


293940 Int64Index([421], dtype='int64')
3,606
52330123
7694
5576


140910 Int64Index([455], dtype='int64')
256
3792775
8719
4508


088260 Int64Index([516], dtype='int64')
3,243
63341590
6400
4305


350520 Int64Index([525], dtype='int64')
989
20600000
5130
4060


334890 Int64Index([526], dtype='int64')
1,132
24000000
5030
4375


348950 Int64Index([552], dtype='int64')
8,528
165600000
5400
4600


145270 Int64Index([598], dtype='int64')
589
46224127
1310
682


357120 Int64Index([602], dtype='int64')
3,283
69620000
4965
4640


172580 Int64Index([662], dtype='int64')
257
13044500
2810
1840


153360 Int64Index([663], dtype='int64')
192
16149790
1795
1170


152550 Int64Index([668], dtype='int64')
1,148
70020000
1790
1545


168490 Int64Index([692], dtype='int64')
1,532
80020000
2240
1850


365550 Int64Index([21], dtype='int64')
7,607
143259000
5320
4800